@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
  font-size: small;
}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
    box-shadow: 0 0 3px #ccc ;
    border-radius: 10px;
    margin-left: 5px;
    overflow: auto;
  }

  
.ant-layout-has-sider {
  padding: 7px !important;
}

.ant-layout.ant-layout-has-sider {
  height: 100vh;
}

.ant-layout-sider {
  border-radius: 15px !important;
  padding-top: 15px !important;
}

.anticon svg {
  height: 20px;
  width: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.ant-layout-header {
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cart-item {
  padding-left: 20px;
  padding-right: 30px;
  cursor: pointer;
}

.cart-item p {
  margin-top: 10px;
  font-weight: bold;

}

.table {
  width: 50%; 
}

.salesdis{
  display: flex;
  flex: 50%;
  
 
}

.inputdis{
  margin-right: 5px;
}
.tablediv {
  display: flex;  
  flex-direction: row;
  width: 80%;
  
}

.buttondis {
  margin: 5px;
  width: 90%;
  background-color: #1890ff;
  color: #fff;
  
}

.datechange{
  margin-left: 30px;
  margin-right: 30px;
}

.halfpagediv{
  max-width: 75%;
}

.cusdatadiv{
  display: flex;
  flex-direction: row;
  padding: 10px;
  
  
}
.custsideinfodiv{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 50%;
  
}

.sidebysideinput{
  display: flex;
  flex-direction: row;
  
}

.newsidebysideinput{
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: small;
  width: 50%;
  margin: 10px;
  
}

.ratesdiv{
display: flex;
flex-direction: row;
height: 40px;
width: 90%;
margin: 10px;
}

.itemtabledivnew{
    min-height: 140px;
}


.supsideinfodiv{
  display: flex;
  flex-direction: column;
 width: 30%;
 margin-left: 10px;
}


.homedatadiv{
  display: flex;  
}

.homedatediv{
 display: flex;
 flex-direction: column;
 margin-left: 10px;
  
}

.salepageheaderdiv{
  display: flex;
  justify-content: space-between;  
  margin-right: 40px;
}

.inputdiv{
  display: flex;
  justify-content: space-between;
  
  
}

.inputdivsearch{
  display: flex;
  flex: 50%;
  max-width: 45%;
  font-size: medium;
}

.inputmargindiv{
  margin-left: 5px;
}

.itempagediv{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 20px;
}

.itembiodatadiv{
  display: flex;
  flex-direction: column;

}

.productpagediv{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.itempagebuttondiv{
  display: flex;
  flex: 50%;
}